
.askme-img50 {
  width: 50px;
  height: 50px;
}

.container-fluid {
  min-height: 700px;
}

a.disabled {
  pointer-events: none!important; /* делаем элемент неактивным для взаимодействия */
  cursor: default!important; /*  курсор в виде стрелки */
  color: #888!important;/* цвет текста серый */
}

a, a.askme-like_dislike, a.askme-black_a:hover {
  color: #17a2b8!important;
}
a:hover, a.askme-like_dislike:hover, a.askme-black_a, a.askme-black_a:active {
  color: #000000!important;
}
a:active, a.askme-like_dislike:active {
  color: #17a2b8!important;
}

.askme_color-for-text {
  color: #FAFAFA;
}

button > a:hover {
  color: #FAFAFA!important;
}

img {
  background: none;
}

img.askme-img100 {
  height: 100px;
  width: 100px
}
img.askme-img200 {
  height: 200px;
  width: 200px
}

img.askme-img300 {
  height: 300px;
  width: 300px
}

img.askme-img80 {
  height: 80px;
  width: 80px
}

img.askme-img70 {
  height: 70px;
  width: 70px;
}

img.askme-border1px {
  border: 1px solid white;
}

.askme-counter, .askme-like_dislike {
  color: #17a2b8!important;
  font-size: 1.6em;
}

.askme-inline {
  display: inline;
}


a.askme_tag1 {
  color: Red!important;
  font-size: 1.5em;
  font-weight: bolder;
}

a.askme_tag2, a.askme_tag2:active {
  color: Purple!important;
  font-size: 1.4em;
  font-weight:bold;
}
a.askme_tag3, a.askme_tag3:active {
  color: Green!important;
  font-size: 1.3em;
  font-weight: normal;
}
a.askme_tag4, a.askme_tag4:active {
  color: Blue!important;
  font-size: 1.2em;
  font-weight: light;
}
a.askme_tag5, a.askme_tag5:active {
  color: Black!important;
  font-size: 1em;
  font-weight: lighter;
}

a.askme_tag1:hover, a.askme_tag2:hover, a.askme_tag3:hover, a.askme_tag4:hover, a.askme_tag5:hover {
  color: #17a2b8!important;
}

textarea {
  height: 70%;
  min-height: 250px;
}

.askme-error {
  color: red!important;
  font-weight: light;
}

.askme-minH250 {
  min-height: 300px;
}

.askme-minH450 {
  min-height: 450px;
}

.askme-notChoosen {
  font-weight: lighter!important;
  font-size: 0.8em;
}

.askme-noBorder {
  border: none!important;
}

.askme-correctAnswer, .askme-notcorrectAnswer {
  color: #17a2b8;
  font-size: 1.6em;
}

.askme-correctAnswer::before {
  content: "\f14a";
  font-family: FontAwesome;
  font-size: 1em;
  color: #17a2b8;
}

.askme-notcorrectAnswer::before {
  content: "\f0c8";
  font-family: FontAwesome;
  font-size: 1em;
  color: #17a2b8;
}

.askme-w20 {
  width: 20%;
}

textarea {
  resize: none!important;
}

.askme-NoBg {
  background: #FAFAFA!important;
}

.askme-sheep {
  margin-left: 60%;
  margin-top: 35%;
}