.h-5 {
    font-size: 5em;
    text-align: left;
    color: #17a2b8;
}

.m-more {
    margin-top: 15%;
}

.askme-sheep {
    margin-left: 40%;
    margin-top: 10%;
}
img.askme-img200 {
    height: 350px;
    width: 350px
}