{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <title>AskMe!</title>
  </head>

  <!-- -->
  <body>
    <!-- Шапка -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/img/Logo.png' %}" alt="..." class="askme-img80"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="form-inline mx-auto w-50 ml-sm-0">
          <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="btn btn-outline-info my-2 my-sm-2 mx-auto px-5" id="askButton"
         type="button" onClick='location.href= "{% url 'ask' %}"' >Ask!</button>

        {% if user.is_authenticated %}
        <div class="row w-20 ml-auto mr-2">
          <div class="col-md-4 col-ms-2 pl-0">
            <img src="{{ user.author.avatar.url }}" alt="..." class="img-thumbnail askme-img70 askme-border1px mr-5 mt-2">
          </div>
          <div class="col-md-8 col-ms-2">
            <div class="row">
              <p class="h3 askme_color-for-text ">{{ user.username }}</p>
            </div>
            <div class="row">
              <div class="col-mb-8">
                <a href="{% url 'settings' %}">Settings</a>
              </div>
              <div class="col-mb-8 ml-5">
                <a href="{% url 'logout' %}">Logout</a>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <!-- Для неавторизованных пользователей -->
        <div class="row w-20 ml-auto mr-2">
          <div class="col-mb-6 mr-3">
            <a href="/login/">Log in</a>
          </div>
          <div class="col-mb-6 ml-3">
            <a href="/register/">Register</a>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row mt-2">
        <div class="col-12 col-md-9 p-0">
          {% block content %}{% endblock %}
        </div>

        <div class="col-12 col-md-3 mt-2 pl-sm-3 pl-mb-0 mr-0">

          <div class="alert alert-dark bg-light">
            <h3 class="my-3">Popular Tags</h3>
            <p>
               {% for tag in tags %}
                 {% include "inc/tag.html" %}
               {% endfor %}
             </p>
          </div>

          <div class="alert alert-dark bg-light">
            <h3 class="my-3">Best Members</h3>
            <ul>
              {% for author in best_members %}
                {% include "inc/best_members.html" %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Your Website</small>
        </div>
    </footer>


    <!-- Подключаем js -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/font_awsome.js"></script>
    </script>
  </body>
</html>
