{% extends "base.html" %}
{% block content %}

  <div class="alert alert">
    <h1 class="my-4"><a href="{% url 'index' %}" class="askme-black_a askme-notChoosen">New Questions</a>
      <a href="{% url 'hot' %}" class="askme-black_a ml-3">Hot Questions</a>
    </h1>

    <!-- Для генирации карточек  -->
    {% for question in data_for_paginator %}
      {% include "inc/question.html" %}
    {% endfor %}

    {% include "inc/paginator.html" %}
  </div>

{% endblock %}
