{% extends "base.html" %}
{% block content %}

          <div class="alert alert">

            <div class="card mb-12 mt-2 mb-2 askme-noBorder askme-minH450">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <div class="row w-100 m-2">
                    <img src="{{MEDIA_URL}}/{{ question.author.avatar}}" class="card-img askme-border1px my-2 mx-2 askme-img300" alt="userAvatar">
                  </div>
                  <div class="row w-100 m-2 ml-auto">
                    <div class="col-mb-4">
                      <span class="askme-counter mx-4 my-2">{{question.rating}}</span>
                    </div>
                    <div class="col-mb-4">
                      <a href="#" class="mx-2 my-4 askme-like_dislike"><i class="far fa-thumbs-up"></i></a>
                    </div>
                    <div class="col-mb-4">
                      <a href="#" class="mx-2 my-4 askme-like_dislike"><i class="far fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 ml-0">
                  <div class="card-body ml-0">
                    <h3 class="card-title">{{question.title}}</h3>
                    <p class="card-text">{{question.content}}</p>
                    <div class="row w-100 m-0">
                      <div class="col-mb-12">
                        <p class="card-text">Tags:
                          {% for tag in question.tags.all %}
                            {% include "inc/miniTags.html" %}
                          {% endfor %}
                         </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            {% for answer in data_for_paginator %}
              {% include "inc/answer.html" %}
            {% endfor %}

            {% if question.answers.all.count > 6 %}
              {% include "inc/paginator.html" %}
            {% endif %}

            <form>
              <div class="form-group row">
                <div class="col-md-12 col-sm-12">
                  <textarea class="form-control" id="questionQuestion" aria-label="With textarea" type="text" placeholder="Enter your answer here!"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="form-group col-md-12 col-sm-12">
                  <button type="submit" class="btn  btn-outline-info askme-w20">Answer</button>
                </div>
              </div>
            </form>

          </div>

{% endblock %}
