{% extends "base.html" %}
{% block content %}

          <div class="alert alert-dark bg-light mt-2 ml-3 mr-2">
            <div class="row ml-4">
              <h2 class="my-4">Registration</h2>
            </div>
            <div class="row ml-4 mb-2">
              <p class="askme-error">Place for error</p>
            </div>
            <div class="row ml-4">
              <form class="w-75">
                <div class="form-group row">
                  <label for="regLogin" class="col-md-3 col-sm-12 col-form-label">Login</label>
                  <div class="col-md-9 col-sm-12">
                    <input type="text" class="form-control" id="regLogin" placeholder="Login..." maxlength="10">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="regEmail" class="col-md-3 col-sm-12 col-form-label">Email</label>
                  <div class="col-md-9 col-sm-12">
                    <input type="email" class="form-control" id="regEmail" placeholder="Email..." maxlength="50">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="regNickName" class="col-md-3 col-sm-12 col-form-label">NickName</label>
                  <div class="col-md-9 col-sm-12">
                    <input type="text" class="form-control" id="regNickName" placeholder="NickName..." maxlength="10">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="regPassword" class="col-md-3 col-sm-12 col-form-label">Password</label>
                  <div class="col-md-9 col-sm-12">
                    <input type="password" class="form-control" id="regPassword" placeholder="Password..." maxlength="50">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="regRepPassword" class="col-md-3 col-sm-12 col-form-label">Repeat password</label>
                  <div class="col-md-9 col-sm-12">
                    <input type="password" class="form-control" id="regRepPassword" placeholder="Repeat password..." maxlength="50">
                  </div>
                </div>
                <div class="form-group row">
                  <legend class="col-md-3 col-sm-12 col-form-label">Upload avatar</legend>
                  <div class="form-group col-md-9 col-sm-12">
                    <label for="customFile">
                      <img src="https://picsum.photos/200" alt="..." id="askme-customFileImg" class="img-thumbnail askme-img200 askme-border1px mt-2">
                    </label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file...</label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-3 col-sm-12">
                  </div>
                  <div class="form-group col-md-9 col-sm-12">
                    <button type="submit" class="btn  btn-outline-info w-25">Register</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
{% endblock %}
