{% extends "base.html" %}
{% block content %}

          <div class="alert alert-dark bg-light mt-2 ml-3 mr-2">
            <div class="row ml-4">
              <h2 class="my-4">Settings:
                <small class="ml-2">{{ user.name }}</small>
              </h2>
            </div>
            <div class="row ml-4 mb-2">
              <p class="askme-error">Place for error</p>
            </div>
            <div class="row ml-4">
              <form class="w-75" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="form-group row">
                  <label for="inputLogin" class="col-md-2 col-sm-12 col-form-label" name="login">Login</label>
                  <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control" id="inputLogin" placeholder="Login...">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-md-2 col-sm-12 col-form-label">Email</label>
                  <div class="col-md-10 col-sm-12">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email..." name="email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputNickName" class="col-md-2 col-sm-12 col-form-label">NickName</label>
                  <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control" id="inputNickName" placeholder="NickName..." name="nickname">
                  </div>
                </div>

                <div class="form-group row">
                  <legend class="col-md-2 col-sm-12 col-form-label">Upload avatar</legend>
                  <div class="form-group col-md-10 col-sm-12">
                    <label for="customFile">
                      <img src="{{ user.author.avatar.url }}" alt="..." id="askme-customFileImg" class="img-thumbnail askme-img200 askme-border1px mt-2">
                    </label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" name="avatar">
                      <label class="custom-file-label" for="customFile">{{ user.author.avatar.url }}</label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-2 col-sm-12">
                  </div>
                  <div class="form-group col-md-10 col-sm-12">
                    <button type="submit" class="btn  btn-outline-info w-25">Save</button>
                  </div>
                </div>

              </form>
            </div>
          </div>

{% endblock %}
