<!-- Pagination -->
<ul class="pagination justify-content-center mt-5">
    <li class="page-item">
        {% if data_for_paginator.has_previous %}
        <a class="page-link" href="?page={{ data_for_paginator.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
        {% else %}
        <a class="page-link disabled" style="pointer-events: none!important; color: #4e555b!important;"  href="" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
        {% endif %}
    </li>

    {% for num in data_for_paginator.paginator.page_range %}
    {% if data_for_paginator.number == num %}
    <li class="page-item">
        <a class="page-link" style="color: rebeccapurple!important; font-weight:bold;" href="?page={{ num }}">{{num}}</a>
    </li>
    {% elif num > data_for_paginator.number|add:'-3' and num < data_for_paginator.number|add:'3' %}
    <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{num}}</a>
    </li>
    {% endif %}
    {% endfor %}

    <li class="page-item">
        {% if data_for_paginator.has_next %}
        <a class="page-link" href="?page={{ data_for_paginator.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        {% else %}
        <a class="page-link" href=""  style="pointer-events: none!important; color: #4e555b!important;" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        {% endif %}

    </li>
</ul>