<div class="card mb-12 bg-light mt-2 mb-2">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="row w-100 m-2">
        <img src="{{MEDIA_URL}}/{{ question.author.avatar}}" class="card-img askme-border1px my-2 mx-2 askme-img300" alt="...">
      </div>
      <div class="row w-100 m-2 ml-auto">
        <div class="col-mb-4">
          <span class="askme-counter mx-4 my-2">{{question.rating}}</span>
        </div>
        <div class="col-mb-4">
          <a href="#" class="mx-2 my-4 askme-like_dislike"><i class="far fa-thumbs-up"></i></a>
        </div>
        <div class="col-mb-4">
          <a href="#" class="mx-2 my-4 askme-like_dislike"><i class="far fa-thumbs-down"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-8 ml-0">
      <div class="card-body ml-0">
        <h3 class="card-title">
          <a href="{% url 'question' qid=question.id %}">{{question.title}}</a>
        </h3>
        <p class="card-text">{{question.content}}</p>
        <div class="col w-100 m-0">
          <div class="row">
            <p class="card-text text-left">Answers (<span>{{ question.answer_set.all.count }}</span>)</p>
          </div>

          <div class="row">
            <hr class="w-100">
            <p class="card-text">Tags:
              {% for tag in question.tags.all %}
                {% include "inc/miniTags.html" %}
              {% endfor %}
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
